<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/setup-hd.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Nos configurations</h1>
            <h3>La Digital Ring communauté vous propose des configurations adaptées pour tous types d'utilisations.</h3>
            <p style="font-size:1.2em; font-style: italic;">Du pro-gameur soucieux des performances au joueur occasionnel, nous actualisons les configurations régulièrement en fonction des nouveautés sur le marché.</p>
        </div>
    </div>
</div>
<div class="main">

    <div class="section-dark" style="padding-top:15px; padding-bottom:15px;">
        <div class="container">
            <div class="row">
                <div class="txt-part">
                    <h2 style="margin-top:0; font-weight: bold;">Configuration Bronze - 600€</h2>
                    <h3 style="font-style:italic;">Bureautique et jeu léger</h3>
                    <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                        <p style="font-style:italic;">Les liens sont susceptibles d'être affiliés</p>
                        <li>Processeur : <a href="https://www.cdiscount.com/informatique/processeurs/processeur-amd-ryzen-5-5600g-box-100-10000025/f-10764-100100000252box.html#mpos=0|cd">Ryzen 5 5600G (Cdiscount)</a></li>
                        <li>Carte Mère : <a href="https://www.grosbill.com/carte-mere/msi/48289.aspx">A520 MSI (Grosbill)</a></li>
                        <li>RAM : <a href="https://www.amazon.de/Crucial-Ballistix-BL2K8G32C16U4B-Desktop-Speicher/dp/B083TRRT16/ref=sr_1_3?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Ballistix+16Go+%282x8Go%29+DDR4+3200MHz+CL16&qid=1634468969&sr=8-3&tag=dropreferen06-21">Ballistix 16Go (2x8Go) DDR4 3200MHz CL16 (Amazon.de)</a></li>
                        <li>SSD NVME : <a href="https://www.cdiscount.com/informatique/disques-durs/pny-ssd-interne-cs3030-500go-m-2-nvme-m28/f-1073610-pny751492624655.html#mpos=0|cd">SSD NVME 1.3 500GO CS3030 (3GO/s) (Cdiscount)</a></li>
                        <li>Alimentation:  <a href="https://www.amazon.de/Seasonic-S12III-550-Modulares-PC-Netzteil/dp/B07MWGZT5N/ref=sr_1_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Seasonic%2B550W%2BBronze&qid=1634469023&sr=8-1&th=1&tag=dropreferen06-21">Seasonic 550W Bronze (Amazon.de)</a></li>
                        <li>Boitier : <a href="https://www.cdiscount.com/informatique/boitiers-pc-alimentations/msi-boitier-pc-mag-forge-100r-noir-verre-tremp/f-10766-msi4719072676407.html">MSI BOITIER PC MAG FORGE 100R (Cdiscount)</a></li>
                    </div>
                </div>
                <div class="img-part">
                    <a><img class="img-setup" src="../../../assets/img/bronze.jpg"/></a>
                </div>
            </div>
        </div>
    </div>


    <div class="container" style="padding-top:15px; padding-bottom:15px;">
        <div class="row">
            <div class="img-part">
                <a><img class="img-setup" src="https://i.ytimg.com/vi/pYmEJYXZhNg/maxresdefault.jpg"/></a>
            </div>
            <div class="txt-part">
                <h2 style="margin-top:0; font-weight: bold;">Configuration Silver - 1100€</h2>
                <h3 style="font-style:italic;">Gaming 1440P 144 FPS+</h3>
                <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                    <p style="font-style:italic;">Les liens sont susceptibles d'être affiliés</p>
                    <li>Carte graphique: NVIDIA RTX 3060 Ti FE (stock sur Discord)</li>
                    <li>Carte Mère : <a href="https://www.amazon.de/MSI-B450-Tomahawk-Gaming-Motherboard/dp/B08L598DYN/ref=sr_1_1_sspa?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=B450+TOMAHAWK&qid=1634469123&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFLV0VVNlpJSlZVTEomZW5jcnlwdGVkSWQ9QTAxNzk0ODUxVkJPSFBQTjI3T0ZZJmVuY3J5cHRlZEFkSWQ9QTAwNDI4ODkxN01UQlM1QTBTTjU3JndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==&tag=dropreferen06-21">B450 TOMAHAWK (AMAZON.DE)</a></li>
                    <li>RAM : <a href="https://www.amazon.de/Corsair-Vengeance-3200MHz-Performance-Arbeitsspeicher/dp/B0143UM4TC/ref=sr_1_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Corsair+Vengeance+16Go+%282x8Go%29+DDR4+3200MHz+CL16+%28AMAZON.DE%29&qid=1634469149&sr=8-1&tag=dropreferen06-21">Corsair Vengeance 16Go (2x8Go) DDR4 3200MHz CL16 (AMAZON.DE)</a></li>
                    <li>Ventirad : <a href="https://www.rueducommerce.fr/p-pure-rock-slim-2-bequiet-3270902-18425.html?articleOfferId=24398064">Bequiet Pure slim 2 (Rue Du Commerce)</a></li>
                    <li>SSD NVME : <a href="https://www.rueducommerce.fr/produit/western-digital-wd-black-sn750-1-to-m-2-pcie-nvme-71269909?articleOfferId=9387486">SSD NVME SN750 3GO/S (Rue Du Commerce)</a></li>
                    <li>Alimentation: <a href="https://www.cdiscount.com/informatique/alimentation-pc/corsair-alimentation-pc-rm-series-rm650-80-plus/f-10775-cp9020194eu.html">RM 650W GOLD (CDISCOUNT)</a></li>
                    <li>Boitier : <a href="https://www.cdiscount.com/telephonie/accessoires-portable-gsm/nzxt-h710-verre-trempe-usb-3-1-blanc-mat/f-1442050-nzx5060301694983.html#mpos=0|cd">NZXT H710 (Cdiscount)</a></li>
                </div>
            </div>
        </div>
    </div>


<div class="section-dark" style="padding-top:15px; padding-bottom:15px;">
    <div class="container">
        <div class="row">
            <div class="txt-part">
                <h2 style="margin-top:0; font-weight: bold;">Configuration Gold - 1300€</h2>
                <h3 style="font-style:italic;">Gaming 1440P 144 FPS+</h3>
                <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                    <p style="font-style:italic;">Les liens sont susceptibles d'être affiliés</p>
                    <li>Processeur : <a href="https://www.rueducommerce.fr/produit/amd-ryzen-5-5600x-3-7-4-6-ghz-109085231?articleOfferId=22779440">Ryzen 5 5600X (Rue Du Commerce)</a></li>
                    <li>Carte Graphique : NVIDIA RTX 3060 Ti FE</li>
                    <li>Carte Mère : <a href="https://www.amazon.de/MSI-MPG-B550-Gaming-Motherboard/dp/B089CRF5XV/ref=sr_1_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=B550+MPG+GAMING+PLUS&qid=1634469321&sr=8-1&tag=dropreferen06-21">B550 MPG GAMING PLUS (AMAZON.DE)</a></li>
                    <li>RAM : <a href="https://www.cdiscount.com/informatique/memoire-ram/corsair-memoire-pc-ddr4-vengeance-lpx-16go-2x8g/f-10716-cor0843591070454.html">Corsair Vengeance 16Go (2x8Go) DDR4 3200MHz CL16 (Cdiscount)</a></li>
                    <li>Ventirad : <a href="https://www.cdiscount.com/informatique/ventilation-refroidissement/dissipateur-de-chaleur-nzxt-kraken-x53-240mm-rlkr/f-10789-auc8585797031731.html">NZXT AIO X53 (CDISCOUNT)</a></li>
                    <li>SSD NVME : <a href="https://www.amazon.de/WD_BLACK-High-Performance-Interne-Gaming-Heatink/dp/B08SWFTP9N/ref=sr_1_1_sspa?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=ssd+nvme+1.4+sn850+500+go&qid=1634469414&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzSU9PTTRHNFlZTDdBJmVuY3J5cHRlZElkPUEwMDI0NjM2MkcyNk82S1RFOE40RCZlbmNyeXB0ZWRBZElkPUEwMjk5NDUyMlZQTTdaMEZMMU4yMiZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=&tag=dropreferen06-21">SSD NVME 1.4 SN850 500GO (AMAZON.DE)</a></li>
                    <li>Alimentation: <a href="https://www.cdiscount.com/informatique/alimentation-pc/corsair-alimentation-pc-rm-series-rm650-80-plus/f-10775-cp9020194eu.html">RM 650W GOLD (CDISCOUNT)</a></li>
                    <li>Boitier : <a href="https://www.cdiscount.com/informatique/boitiers-pc-alimentations/msi-boitier-pc-mag-forge-100r-noir-verre-tremp/f-10766-msi4719072676407.html">MSI BOITIER PC MAG FORGE 100R (Cdiscount)</a></li>
                </div>
            </div>
            <div class="img-part">
                <a><img class="img-setup" src="../../../assets/img/examples/magforge.PNG"/></a>
            </div>
        </div>
    </div>
</div>


<div class="container" style="padding-top:15px; padding-bottom:15px;">
    <div class="row">
        <div class="img-part">
            <a><img class="img-setup" src="../../../assets/img/RainbowWave.gif"/></a>
        </div>
        <div class="txt-part">
            <h2 style="margin-top:0; font-weight: bold;">Configuration Platine - 2000€</h2>
            <h3 style="font-style:italic;">Gaming 1440P 144 FPS+ & Streaming</h3>
            <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                <p style="font-style:italic;">Les liens sont susceptibles d'être affiliés</p>
                <li>Processeur : <a href="https://www.rueducommerce.fr/produit/amd-ryzen-7-5800x-3-8-4-7-ghz-109085224?articleOfferId=18631408">Ryzen 7 5800X (Rue Du Commerce)</a></li>
                <li>Carte Graphique: RTX 3080 custom ou founder edition (Stock Discord)</li>
                <li>Carte Mère : <a href="https://www.cdiscount.com/informatique/cartes-meres/gigabyte-carte-mere-x570-gaming-x-am4/f-10765-9mx57gmx.html?idOffre=394244163">X570 Gaming X (Cdiscount)</a></li>
                <li>RAM : <a href="https://www.amazon.de/Corsair-Vengeance-Enthusiast-LED-Beleuchtung-Speicherkit/dp/B07D1XJH2W/ref=sr_1_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Corsair+vengeance+pro+32GB+3200Mhz+C16+%28Amazon.de%29&qid=1634469592&sr=8-1&tag=dropreferen06-21">Corsair vengeance pro 32GB 3200Mhz C16 (Amazon.de)</a></li>
                <li>Ventirad: <a href="https://www.amazon.fr/Be-Quiet-Tower-Refroidisseur-Processeur/dp/B07R5TQQMR/ref=sr_1_1_mod_primary_new?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Pure+rock+Dark&qid=1634469623&qsid=257-0955297-7552569&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D&sr=8-1&sres=B07R5TQQMR%2CB087VL2Z21%2CB087VM7HT2%2CB07BY6F8D9%2CB08YRN1621%2CB00XJMQDUM%2CB07BYP9S95%2CB073SX33R8%2CB084XYKDF4%2CB07J589GHF%2CB00HPXZF2I%2CB01KVNCEIG%2CB08L9QZXSY%2CB07H9JL1P8%2CB0723BLJBZ%2CB00VGDN6F6%2CB00OB40ULU%2CB00L7UZMAK%2CB08K3P1KRY%2CB07Y87YHRH&srpt=ELECTRONIC_COMPONENT_FAN&tag=droprefere070-21">Pure rock Dark (Amazon.fr)</a></li>
                <li>SSD NVME : <a href="https://www.amazon.fr/Samsung-Internal-Solid-State-MZ-V8P1T0BW/dp/B08GS7748F/ref=sr_1_1?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=MP600+pro+1to+%287GO%2Fs%29&qid=1634469645&qsid=257-0955297-7552569&sr=8-1&sres=B08GS7748F%2CB089DNM8LR%2CB09F5Z6BJ6%2CB098WL46RS%2CB08T9ZNSFN%2CB07SQZYW2V%2CB08TB1R595%2CB08KFS6THF%2CB084ZWC796%2CB078WQT6SB%2CB08P2B6JKV%2CB07J2Q4SWZ%2CB08TRN15K5%2CB07TLYWMYW%2CB093DP3X4H%2CB07ZZLDTP6%2CB08ZDHBLTP%2CB07YFFX5MD%2CB08KWKQ4MF%2CB086F679KD&srpt=COMPUTER_DRIVE_OR_STORAGE&tag=droprefere070-21">MP600 pro 1to (7GO/s) (Amazon.fr)</a></li>
                <li>Alimentation:  <a href="https://www.rueducommerce.fr/produit/corsair-rm750-750w-80-gold-84979386?articleOfferId=16905243">RM750X GOLD (Rue Du Commerce)</a></li>
                <li>Boitier : <a href="https://www.cdiscount.com/informatique/boitiers-pc-alimentations/corsair-boitier-connecte-icue-465x-rgb-atx-moyen/f-1076607-cc9011189ww.html#mpos=0|cd">Corsair 465X White (Cdiscount)</a></li>
            </div>
        </div>
    </div>
</div>


<div class="section-dark" style="padding-top:15px; padding-bottom:15px;">
    <div class="container">
        <div class="row">
            <div class="txt-part">
                <h2 style="margin-top:0; font-weight: bold;">Configuration Diam - 2600€</h2>
                <h3 style="font-style:italic;">Gaming ultra & Streaming</h3>
                <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                    <p style="font-style:italic;">Les liens sont susceptibles d'être affiliés</p>
                    <li>Processeur : <a href="https://www.rueducommerce.fr/produit/amd-ryzen-9-5900x-3-7-4-8-ghz-109085217?articleOfferId=20343398">Ryzen 9 5900X (Rue Du Commerce)</a></li>
                    <li>Carte Graphique: RTX 3080TI Zotac ou founder edition (Alerte sur Discord)</li>
                    <li>Carte Mère : <a href="https://www.rueducommerce.fr/produit/gigabyte-carte-mere-x570-gaming-x-chipset-x570-socket-am4-81597947?articleOfferId=2219382">X570 Gaming X (Rue Du Commerce)</a></li>
                    <li>RAM : <a href="https://www.amazon.de/Corsair-Vengeance-Enthusiast-LED-Beleuchtung-Speicherkit/dp/B07D1WWBL3/ref=sr_1_1_sspa?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=CORSAIR+Vengeance+RGB+Pro+32GB&qid=1634469791&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyM1JJV0ZEODZVMzVIJmVuY3J5cHRlZElkPUEwMjI2MDQ3MjFYSE1USDYzSkoxQyZlbmNyeXB0ZWRBZElkPUEwNjQ3OTg0NkVNTkowM0FONjlWJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==&tag=dropreferen06-21">CORSAIR Vengeance RGB Pro 32GB (Amazon.de)</a></li>
                    <li>Ventirad: <a href="https://www.rueducommerce.fr/p-nzxt-kraken-x63-280mm-rgb-nzxt-2007250360-18435.html?articleOfferId=23914672">Nzxt Kraken X63 280mm (Rue Du Commerce)</a></li>
                    <li>SSD NVME : <a href="https://www.cdiscount.com/informatique/ssd/wd-black-disque-ssd-interne-sn850-1to-m-2/f-1070301-wds100t1x0e.html?idOffre=751105706">SSD NVME 1.4 1TO SN850 (7GO/s) (Cdiscount)</a></li>
                    <li>Alimentation:  <a href="https://www.cdiscount.com/informatique/alimentation-pc/corsair-alimentation-rm850x-blanc-entierement-modu/f-10775-cor0843591075671.html#mpos=0|cd">RM850X GOLD Blanche (Cdiscount)</a></li>
                    <li>Boitier : <a href="https://www.cdiscount.com/informatique/boitiers-pc-alimentations/nzxt-boitier-pc-h510i-moyen-tour-blanc-verre/f-10766-nzx5060301695027.html">H510i NZXT (Cdiscount)</a></li>
                </div>
            </div>
            <div class="img-part">
                <a><img class="img-setup" src="https://www.gamertech.fr/wp-content/uploads/2019/11/nzxt-h510-elite-test-complet.jpg"/></a>
            </div>
        </div>
    </div>
</div>


<div class="container" style="padding-top:15px; padding-bottom:15px;">
    <div class="row">
        <div class="img-part">
            <a><img class="img-setup" src="https://rog.asus.com/websites/global/products/g2Pl47nZaToiPUKg/img/video.jpg"/></a>
        </div>
        <div class="txt-part">
            <h2 style="margin-top:0; font-weight: bold;">Configuration Diam+ - 4500€</h2>
            <h3 style="font-style:italic;">Gaming 1440P 144 FPS+ & Streaming</h3>
            <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                <p style="font-style:italic;">Les liens sont susceptibles d'être affiliés</p>
                <li>Processeur : <a href="https://www.rueducommerce.fr/produit/amd-ryzen-9-5950x-3-4-4-9-ghz-109085210?articleOfferId=23368836">Ryzen 9 5950X (Rue Du Commerce)</a></li>
                <li>Carte Graphique: RTX 3090 24GO DDR6X</li>
                <li>Carte Mère : <a href="https://www.cdiscount.com/informatique/cartes-meres/msi-carte-merempg-x570-gaming-pro-carbon-wifi-am/f-10765-mpgx570gamingpr.html">X570 MSI MPG GAMING PRO CARBON WIFI (Cdiscount)</a></li>
                <li>RAM : <a href="https://www.amazon.de/Corsair-Vengeance-4x16GB-PC4-25600-1-35V/dp/B0981KKPDN/ref=sr_1_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=CORSAIR+Vengeance+RGB+Pro+SL+64+GB&qid=1634470010&sr=8-1&tag=dropreferen06-21">CORSAIR Vengeance RGB Pro SL 64 GB (Amazon.de)</a></li>
                <li>Ventirad: <a href="https://www.amazon.fr/NZXT-Kraken-X73-360-Refroidisseur/dp/B0849SK835/ref=sr_1_1?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Nzxt+Kraken+X73+360mm&qid=1634470034&qsid=257-0955297-7552569&sr=8-1&sres=B0849SK835%2CB08MB7WQW9%2CB08MB4YPK3%2CB06ZYHRMYP%2CB07SDBRQ6L%2CB06XS9QNPS%2CB08G1Q3GZR%2CB0829S536D%2CB0046EP7NQ%2CB07CWKFCD7%2CB08L3KS8CQ%2CB07HL1D5N6%2CB07JVQXH8M%2CB089QYGNFK%2CB07WTS8T2W%2CB07GRMB8F7%2CB08K3P1KRY%2CB07YS7GGWM%2CB07JWB5BSP%2CB005QF1J1I&srpt=ELECTRONIC_COMPONENT_FAN&tag=droprefere070-21">Nzxt Kraken X73 360mm (Amazon.fr)</a></li>
                <li>SSD NVME : <a href="https://www.amazon.fr/Seagate-FireCuda-4e-g%C3%A9n%C3%A9ration-NVMe-1-4-ZP1000GM3A013/dp/B0971FN5MV/ref=sr_1_1_sspa?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=SSD+NVME+1.4+2TO+SN850+%287GO%2Fs%29&qid=1634470060&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFaMjREOFVaN08yVzkmZW5jcnlwdGVkSWQ9QTAzNTc2NDgyQ0VQWlRHUzNLRFFVJmVuY3J5cHRlZEFkSWQ9QTAwMTI2NzkxSTBESFZZRlhEU1NHJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==&tag=droprefere070-21">SSD NVME 1.4 2TO SN850 (7GO/s) (Amazon.fr)</a></li>
                <li>Alimentation:  <a href="https://www.rueducommerce.fr/produit/corsair-alimentation-100-modulaire-rmx-series-rm1000x-1000w-80-gold-24416274?articleOfferId=8597112">RM1000X GOLD (Rue Du Commerce)</a></li>
                <li>Boitier : <a href="https://www.cdiscount.com/informatique/boitiers-pc-alimentations/asus-boitier-pc-stix-helios-gx601-noir-verre-t/f-10766-asu4718017245791.html">Asus ROG Helios GX 601 (Cdiscount)</a></li>
            </div>
        </div>
    </div>
</div>




   
</div>
