.logo-img{
    width: 2em;
}

.img-setup{
    width:400px;
    height: 250px;
}

.img-part{
    display: flex;
    align-items:center;
}

.txt-part{
    margin-left:50px;
    margin-right:50px;
}

.section-dark{
    color:white;
}

