<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/tests-background.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Les casques</h1>
            <h3>Beaucoup d'entre vous cherchent à avoir une expérience de jeu optimisée. C'est pourquoi le choix d'un casque qui répond à vos attentes est nécessaire. Nous référençons ici les casques gamers les plus intéressants de 2021.</h3>
        </div>
    </div>
</div>
<div class="main">

    <div class="container">
        <h1 style="font-weight:bold; margin-top:70px;">Notre sélection de casques</h1>
    </div>
    <div class="container" style="padding-top:15px; padding-bottom:15px; margin-top:70px;">
        <div class="row">
            <div class="img-part">
                <a><img class="img-proc" src="../../../assets/img/casque-1.png"/></a>
            </div>
            <div class="img-part">
                <div>
                    <h2 style="margin-top:0; font-weight: bold;">LOGITECH G PRO X</h2>
                    <h3 style="font-style:italic;">Design épuré</h3>
                </div>
            </div>
        </div>
            <div class="txt-part">  
                <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                    <p>Un casque gaming filaire destiné aux joueurs les plus exigeants</p>
                    <p>Conçu en partenariat avec Blue Microphones, le casque se distingue d’abord par son design sobre, haut de gamme et élégant, avec des disques chromés du plus bel effet. Il offre un son surround 7.1 de qualité, rond et immersif. On notera l’excellente réduction de bruit passive du casque, qui englobe efficacement les oreilles du joueur.</p>
                    <p>Le casque est doté d’une carte son externe, facilement paramétrable grâce au logiciel G Hub fourni par Logitech. Le micro intégré ne démérite pas avec un bon rendu des voix de vos adversaires et partenaires. Il reste néanmoins un peu en dessous de la concurrence sur ce terrain là. On regrettera aussi le manque de confort de l’accessoire. Après quelques heures d’utilisation, on a rapidement mal aux oreilles. Dommage. Il est vendu autour des 150 euros.</p>
                </div>
            </div>
            <div class="avantages">
                <div class="row">
                    <img style="width:auto;height:30px" src="../../../assets/img/avantages.png"/>
                    <h4 style="display:flex; align-items:center; margin-top:0; margin-left:10px; font-weight:bold;">Les avantages</h4>
                </div>
                <li>Son surround 7.1</li>
                <li>La carte son externe</li>
                <li>Bonne réduction du bruit</li>
            </div>
            <div class="acheter row">
                <div style="text-align: center;">
                    <a href="https://www.amazon.fr/Logitech-Lightspeed-Microphone-Surround-Coussinets/dp/B07W5JKB8Z/ref=sr_1_1_sspa?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=g+pro+x&qid=1634485423&s=computers&sr=1-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyM1ZCRTJBQjlSNE1LJmVuY3J5cHRlZElkPUExMDIwNjMyMlROWlJLOUFMVFM1JmVuY3J5cHRlZEFkSWQ9QTA2NjkzNjExQU9KRU1TNVMxMVNIJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==&tag=droprefere070-21"><img style="width:auto;height:50px" src="../../../assets/img/Amazon-logo.png"/></a>
                    <p><a href="https://www.amazon.fr/Logitech-Lightspeed-Microphone-Surround-Coussinets/dp/B07W5JKB8Z/ref=sr_1_1_sspa?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=g+pro+x&qid=1634485423&s=computers&sr=1-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyM1ZCRTJBQjlSNE1LJmVuY3J5cHRlZElkPUExMDIwNjMyMlROWlJLOUFMVFM1JmVuY3J5cHRlZEFkSWQ9QTA2NjkzNjExQU9KRU1TNVMxMVNIJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==&tag=droprefere070-21">Amazon</a></p>
                    <p style="font-weight:bold;">161€</p>
                    <p style="font-style:italic">Lien potentiellement affilié</p>
                </div>
            </div>
    </div>

<hr>


<div class="container" style="padding-top:15px; padding-bottom:15px; margin-top:70px;">
    <div class="row">
        <div class="img-part">
            <a><img class="img-proc" src="../../../assets/img/casque-2.png"/></a>
        </div>
        <div class="img-part">
            <div>
                <h2 style="margin-top:0; font-weight: bold;">SENNHEISER GSP 600</h2>
                <h3 style="font-style:italic;">Design gamer</h3>
            </div>
        </div>
    </div>
        <div class="txt-part">  
            <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                <p>Disponible autour des 180 euros, le GSP 600 de Sennheiser joue dans la cour des très grands. Ce casque filaire ultra haut de gamme est muni d’un port jack et d’un micro au rendu vocal très fidèle. Enfin, il promet une réduction de bruit passive sans faille, idéale pour les joueurs qui sont rapidement déconcentrés par leur environnement.</p>
                <p>Destiné aux joueurs les plus exigeants, ou aux gamers professionnels en quête du nec plus ultra, le casque déçoit uniquement par son tarif très élevé et une structure très lourde. De plus, il est nécessaire d’acheter une carte son externe vendue à part pour pouvoir profiter d’un son surround 7.1. Dommage.</p>
            </div>
        </div>
        <div class="avantages">
            <div class="row">
                <img style="width:auto;height:30px" src="../../../assets/img/avantages.png"/>
                <h4 style="display:flex; align-items:center; margin-top:0; margin-left:10px; font-weight:bold;">Les avantages</h4>
            </div>
            <li>Bonne réduction de bruit passive</li>
            <li>Un design professionnel orienté gaming</li>
            <li>Un excellent micro</li>
        </div>
        <div class="acheter row">
            <div style="text-align: center;">
                <a href="https://www.cdiscount.com/informatique/clavier-souris-webcam/casque-gaming-epos-sennheiser-gsp-600/f-1070219-auc5714708000457.html?idOffre=1398326975"><img style="width:auto;height:50px" src="../../../assets/img/cdiscountlogo.png"/></a>
                <p><a href="https://www.cdiscount.com/informatique/clavier-souris-webcam/casque-gaming-epos-sennheiser-gsp-600/f-1070219-auc5714708000457.html?idOffre=1398326975">Cdiscount</a></p>
                <p style="font-weight:bold;">160€</p>
                <p style="font-style:italic">Lien potentiellement affilié</p>
            </div>
        </div>
</div>


<hr>


<div class="container" style="padding-top:15px; padding-bottom:15px; margin-top:70px;">
    <div class="row">
        <div class="img-part">
            <a><img class="img-proc" src="../../../assets/img/casque-3.jpg"/></a>
        </div>
        <div class="img-part">
            <div>
                <h2 style="margin-top:0; font-weight: bold;">ROCCAT KHAN AIMO</h2>
                <h3 style="font-style:italic;">Le comfort</h3>
            </div>
        </div>
    </div>
        <div class="txt-part">  
            <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                <p>Orienté haut de gamme, le Khan AIMO de Roccat est paré d’un superbe rétroéclairage et proﬁte d’une ﬁnition tout simplement impeccable. Côté connectique, il est doté d’un port USB et fait l’impasse sur le port jack. Le Khan Aime est compatible avec le son surround 7.1 et permet aussi de profiter d’un son HD grâce à un DAC intégré par défaut.</p>
                <p>Le micro est également de bonne facture. Malheureusement, le son surround n’est pas vraiment à la hauteur des espérances. Vendu à moins de 115 euros, il reste une excellente alternative et intègre logiquement notre top des meilleurs casques gamer à acheter en 2020.</p>
            </div>
        </div>
        <div class="avantages">
            <div class="row">
                <img style="width:auto;height:30px" src="../../../assets/img/avantages.png"/>
                <h4 style="display:flex; align-items:center; margin-top:0; margin-left:10px; font-weight:bold;">Les avantages</h4>
            </div>
            <li>Bonne isolation sonore</li>
            <li>Confortable</li>
            <li>Le rétroéclairage</li>
        </div>
        <div class="acheter row">
            <div style="text-align: center;">
                <a href="https://www.rueducommerce.fr/produit/roccat-khan-aimo-blanc-61527827?articleOfferId=4888922"><img style="width:auto;height:50px" src="../../../assets/img/rdc.png"/></a>
                <p><a href="https://www.rueducommerce.fr/produit/roccat-khan-aimo-blanc-61527827?articleOfferId=4888922">Rue Du Commerce</a></p>
                <p style="font-weight:bold;">96€</p>
                <p style="font-style:italic">Lien potentiellement affilié</p>
            </div>
        </div>
</div>

<hr>

<div class="container" style="padding-top:15px; padding-bottom:15px; margin-top:70px;">
    <div class="row">
        <div class="img-part">
            <a><img class="img-proc" src="../../../assets/img/casque-4.jpg"/></a>
        </div>
        <div class="img-part">
            <div>
                <h2 style="margin-top:0; font-weight: bold;">HYPERX CLOUD STINGER</h2>
                <h3 style="font-style:italic;">Economique</h3>
            </div>
        </div>
    </div>
        <div class="txt-part">  
            <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                <p>Ce casque gaming abordable propose un des meilleurs rapport qualité prix du marché actuel. Léger et plutôt confortable grâce à ses coussins à mémoire de forme, il offre un son stéréo de qualité. C’est la solution idéale pour les gamers à la recherche d’un casque audio à petit prix. Le HyperX Cloud Stinger est en effet vendu à un prix avoisinant les 50 euros sur Amazon. Sans surprise, il promet évidement des performances et une expérience loin des casques haut de gamme. La marque opte en effet pour un design tout de plastique et une réduction de bruit passable. Rien d’étonnant à ce prix là.</p>
            </div>
        </div>
        <div class="avantages">
            <div class="row">
                <img style="width:auto;height:30px" src="../../../assets/img/avantages.png"/>
                <h4 style="display:flex; align-items:center; margin-top:0; margin-left:10px; font-weight:bold;">Les avantages</h4>
            </div>
            <li>Le prix</li>
            <li>Confortable et léger</li>
        </div>
        <div class="acheter row">
            <div style="text-align: center;">
                <a href="https://www.rueducommerce.fr/p-cloud-stinger-core-71-hyperx-3167948-26535.html?articleOfferId=8127860"><img style="width:auto;height:50px" src="../../../assets/img/rdc.png"/></a>
                <p><a href="https://www.rueducommerce.fr/p-cloud-stinger-core-71-hyperx-3167948-26535.html?articleOfferId=8127860">Rue Du Commerce</a></p>
                <p style="font-weight:bold;">40</p>
                <p style="font-style:italic">Lien potentiellement affilié</p>
            </div>
        </div>
</div>

<hr>

<div class="container" style="padding-top:15px; padding-bottom:15px; margin-top:70px;">
    <div class="row">
        <div class="img-part">
            <a><img class="img-proc" src="../../../assets/img/casque-5.jpg"/></a>
        </div>
        <div class="img-part">
            <div>
                <h2 style="margin-top:0; font-weight: bold;">CORSAIR HS35</h2>
                <h3 style="font-style:italic;">Rapport qualité / prix</h3>
            </div>
        </div>
    </div>
        <div class="txt-part">  
            <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                <p>On enchaîne notre top des meilleurs casques gamer 2021 avec un autre casque gaming pas cher mais de bonne facture, le HS35 de Corsair. Pour un investissement minime de 40 euros, le HS35 offre un rendu audio de qualité grâce à des transducteurs dynamiques de 50mm. Amovible, le microphone surprendra les gamers les plus aguerris par la restitution fidèle des voix. Cerise sur le gâteau, il est doté d’une prise jack.</p>
                <p>Enfin, le casque reste confortable même après des heures de gaming intenses. On regrettera la réduction bruit passive complètement innefficace et des basses un peu aléatoires. Il est surtout destiné aux joueurs dont le budget est limité ou qui voyagent souvent avec leur matériel. Il est vendu à seulement 45 euros.</p>
            </div>
        </div>
        <div class="avantages">
            <div class="row">
                <img style="width:auto;height:30px" src="../../../assets/img/avantages.png"/>
                <h4 style="display:flex; align-items:center; margin-top:0; margin-left:10px; font-weight:bold;">Les avantages</h4>
            </div>
            <li>Le prix défiant toute concurrence</li>
            <li>Le confort</li>
            <li>Le micro étonnant pour un casque vendu à ce tarif</li>
        </div>
        <div class="acheter row">
            <div style="text-align: center;">
                <a href="https://www.amazon.fr/Corsair-Microphone-Unidirectionnel-Conception-Compatibilit%C3%A9/dp/B07SK3KB9R/ref=sr_1_1_sspa?dchild=1&keywords=CORSAIR+HS35&qid=1634486336&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyT0NSQ0NIREQ1REIyJmVuY3J5cHRlZElkPUEwNTI0ODk3M0VDQUs0UTFaNFdSSSZlbmNyeXB0ZWRBZElkPUEwMzQzNTM2MVBRT1pDUjRXRkozSiZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=&tag=droprefere070-21"><img style="width:auto;height:50px" src="../../../assets/img/Amazon-logo.png"/></a>
                <p><a href="https://www.amazon.fr/Corsair-Microphone-Unidirectionnel-Conception-Compatibilit%C3%A9/dp/B07SK3KB9R/ref=sr_1_1_sspa?dchild=1&keywords=CORSAIR+HS35&qid=1634486336&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyT0NSQ0NIREQ1REIyJmVuY3J5cHRlZElkPUEwNTI0ODk3M0VDQUs0UTFaNFdSSSZlbmNyeXB0ZWRBZElkPUEwMzQzNTM2MVBRT1pDUjRXRkozSiZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=&tag=droprefere070-21">Amazon</a></p>
                <p style="font-weight:bold;">45€</p>
                <p style="font-style:italic">Lien potentiellement affilié</p>
            </div>
        </div>
</div>






   
</div>
