.logo-img{
    width: 2em;
}

.img-proc{
    width:200px;
    height: auto;
}

.img-brand{
    width:50px;
    height:auto;
}

.img-part{
    display: flex;
    align-items:center;
    margin-left: 50px;
}

.txt-part{
    margin-left:50px;
    margin-right:50px;
}

.avantages{
    margin-left: 50px;
    margin-right: 50px;
    margin-top:20px;
}
.acheter{
    justify-content: space-evenly;
    margin-top:30px;
}

