<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/advice-article-background-beverage.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Les processeurs</h1>
            <h3>Comment choisir son nouveau processeur ? Où se le procurer ? Nous répondons à vos questions ici.</h3>
        </div>
    </div>
</div>
<div class="main">

    <div class="container">
        <h1 style="font-weight:bold; margin-top:70px;">Conseils sur les nouveaux processeurs</h1>
    </div>
    <div class="container" style="padding-top:15px; padding-bottom:15px; margin-top:70px;">
        <div class="row">
            <div class="img-part">
                <a><img class="img-brand" src="../../../assets/img/intel-logo.png"/></a>
            </div>
            <div class="img-part">
                <a><img class="img-proc" src="../../../assets/img/intel-1.jpg"/></a>
            </div>
            <div class="img-part">
                <div>
                    <h2 style="margin-top:0; font-weight: bold;">INTEL CORE I5-11400F</h2>
                    <h3 style="font-style:italic;">LA CHAUDE AFFAIRE DU MOMENT</h3>
                </div>
            </div>
        </div>
            <div class="txt-part">  
                <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                    <p>L’an dernier, Intel avait mis un gros coup de pied dans la fourmilière de l’entrée de gamme pour joueurs avec un i5-10400F très intéressant. Adoptant une toute nouvelle architecture, le 11400F voit ses performances augmenter de 10 à 20 % selon les scénarios. Principale faiblesse tout de même : il consomme beaucoup en charge et un bon système de refroidissement sera indispensable.</p>
                    <p>De quoi en faire l’une des puces les plus intéressantes du moment pour le jeu en 1080p ou 1440p. S’il reste solide pour des tâches de création ou de calcul, une puce AMD dotée de plus de cœurs sera probablement plus intéressante pour ce genre de scénarios.</p>
                </div>
            </div>
            <div class="avantages">
                <div class="row">
                    <img style="width:auto;height:30px" src="../../../assets/img/avantages.png"/>
                    <h4 style="display:flex; align-items:center; margin-top:0; margin-left:10px; font-weight:bold;">Les avantages</h4>
                </div>
                <li>Des performances très solides en jeu</li>
                <li>6 cœurs et 12 threads</li>
                <li>Plus accessible que son concurrent direct</li>
            </div>
            <div class="acheter row">
                <div style="text-align: center;">
                    <a href="https://www.amazon.fr/Intel-i5-11400F-processeur-Smart-Cache/dp/B08TX4MCKC/ref=sr_1_1?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=INTEL+CORE+I5-11400F&qid=1634465477&qsid=257-0955297-7552569&sr=8-1&sres=B08TX4MCKC%2CB093Z4DCHQ%2CB0883PYCB4%2CB08TX4T92W%2CB08TX3M96F%2CB08TX5KL5T%2CB07HHLX1R8%2CB086MHSTWN%2CB0883NPQST%2CB08L9NTKZG%2CB0883NTLXM%2CB0883PYCB7%2CB08X6JPK4K%2CB08TX5HWL2%2CB07MGBZWDZ%2CB07S9M32FG%2CB08X67YZBL%2CB08TX3VLVQ%2CB0883NPQSZ%2CB07RYLFYZG&srpt=COMPUTER_PROCESSOR&tag=droprefere070-21"><img style="width:auto;height:50px" src="../../../assets/img/Amazon-logo.png"/></a>
                    <p><a href="https://www.amazon.fr/Intel-i5-11400F-processeur-Smart-Cache/dp/B08TX4MCKC/ref=sr_1_1?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=INTEL+CORE+I5-11400F&qid=1634465477&qsid=257-0955297-7552569&sr=8-1&sres=B08TX4MCKC%2CB093Z4DCHQ%2CB0883PYCB4%2CB08TX4T92W%2CB08TX3M96F%2CB08TX5KL5T%2CB07HHLX1R8%2CB086MHSTWN%2CB0883NPQST%2CB08L9NTKZG%2CB0883NTLXM%2CB0883PYCB7%2CB08X6JPK4K%2CB08TX5HWL2%2CB07MGBZWDZ%2CB07S9M32FG%2CB08X67YZBL%2CB08TX3VLVQ%2CB0883NPQSZ%2CB07RYLFYZG&srpt=COMPUTER_PROCESSOR&tag=droprefere070-21">Amazon</a></p>
                    <p style="font-weight:bold;">221€</p>
                    <p style="font-style:italic">Lien potentiellement affilié</p>
                </div>
            </div>
    </div>

<hr>

<div style="padding-top:15px; padding-bottom:15px;">
    <div class="container" style="padding-top:15px; padding-bottom:15px;">
        <div class="row">
            <div class="img-part">
                <a><img class="img-brand" src="../../../assets/img/amd-logo.png"/></a>
            </div>
            <div class="img-part">
                <a><img class="img-proc" src="../../../assets/img/amd-1.jpg"/></a>
            </div>
            <div class="img-part">
                <div>
                    <h2 style="margin-top:0; font-weight: bold;">AMD RYZEN 5 5600X</h2>
                    <h3 style="font-style:italic;">LE CHOIX DE LA RAISON CHEZ AMD</h3>
                </div>
            </div>
        </div>
            <div class="txt-part">  
                <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                    <p>Parmi les processeurs annoncés par AMD fin 2020, nous retenons ici le Ryzen 5 5600X et ses 6 cœurs physiques et 12 threads. Avec sa fréquence de base à 3,7 GHz (4,6 GHz en boost), il vient rattraper le retard d’AMD en jeu et même s’il dispose de moins de cœurs que le 5800X, il se montre plus intéressant pour cet usage. Un peu cher à sa sortie, il est désormais vendu un peu partout à son prix public conseillé et reste donc tout à fait compétitif.</p>
                </div>
            </div>
            <div class="avantages">
                <div class="row">
                    <img style="width:auto;height:30px" src="../../../assets/img/avantages.png"/>
                    <h4 style="display:flex; align-items:center; margin-top:0; margin-left:10px; font-weight:bold;">Les avantages</h4>
                </div>
                <li>Très puissant avec un TDP maîtrisé</li>
                <li>6 cœurs et 12 threads</li>
                <li>Enfin au niveau d’Intel en jeu</li>
            </div>
            <div class="acheter row">
                <div style="text-align: center;">
                    <a href="https://www.rueducommerce.fr/produit/amd-ryzen-5-5600x-3-7-4-6-ghz-109085231?articleOfferId=22779440"><img style="width:auto;height:50px" src="../../../assets/img/rdc.png"/></a>
                    <p><a href="https://www.rueducommerce.fr/produit/amd-ryzen-5-5600x-3-7-4-6-ghz-109085231?articleOfferId=22779440">Rue Du Commerce</a></p>
                    <p style="font-weight:bold;">300€</p>
                    <p style="font-style:italic">Lien potentiellement affilié</p>
                </div>
            </div>
    </div>
</div>


<hr>

<div style="padding-top:15px; padding-bottom:15px;">
    <div class="container" style="padding-top:15px; padding-bottom:15px;">
        <div class="row">
            <div class="img-part">
                <a><img class="img-brand" src="../../../assets/img/amd-logo.png"/></a>
            </div>
            <div class="img-part">
                <a><img class="img-proc" src="../../../assets/img/amd-2.jpg"/></a>
            </div>
            <div class="img-part">
                <div>
                    <h2 style="margin-top:0; font-weight: bold;">AMD RYZEN 7 5800X</h2>
                    <h3 style="font-style:italic;">LE CPU POUR STREAMER ET PLUS ENCORE</h3>
                </div>
            </div>
        </div>
            <div class="txt-part">  
                <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                    <p>Si le Ryzen 5 5600x conviendra à l’écrasante majorité des usages, les utilisateurs plus exigeants et désireux de se lancer par exemple dans le streaming, seront plus enclins à se tourner vers le Ryzen 7 5800 X. Au menu ici : 8 cœurs et 16 threads avec une fréquence de base de 3,8 GHz qui pourra atteindre 4,7 GHz en mode boost. Autant dire que cette puce est parfaitement adaptée aux tâches les plus lourdes et qu’elle fera évidemment l’affaire en jeu.</p>
                    <p>La consommation et le TDP restent ici encore raisonnables, même si l’on vous recommande d’investir dans un bon ventirad si vous voulez un fonctionnement silencieux. On peut remercier encore une fois la gravure en 7 nm.</p>
                </div>
            </div>
            <div class="avantages">
                <div class="row">
                    <img style="width:auto;height:30px" src="../../../assets/img/avantages.png"/>
                    <h4 style="display:flex; align-items:center; margin-top:0; margin-left:10px; font-weight:bold;">Les avantages</h4>
                </div>
                <li>Très puissant avec un TDP maîtrisé</li>
                <li>8 cœurs et 16 threads</li>
                <li>Une référence pour les tâches applicatives lourdes</li>
            </div>
            <div class="acheter row">
                <div style="text-align: center;">
                    <a href="https://www.cdiscount.com/informatique/processeurs/processeur-amd-ryzen-7-5800x-am4-4-70-ghz-8/f-10764-100000063wof.html"><img style="width:auto;height:50px" src="../../../assets/img/cdiscountlogo.png"/></a>
                    <p><a href="https://www.cdiscount.com/informatique/processeurs/processeur-amd-ryzen-7-5800x-am4-4-70-ghz-8/f-10764-100000063wof.html">Cdiscount</a></p>
                    <p style="font-weight:bold;">438€</p>
                    <p style="font-style:italic">Lien potentiellement affilié</p>
                </div>
            </div>
    </div>
</div>

<hr>

<div style="padding-top:15px; padding-bottom:15px;">
    <div class="container" style="padding-top:15px; padding-bottom:15px;">
        <div class="row">
            <div class="img-part">
                <a><img class="img-brand" src="../../../assets/img/intel-logo.png"/></a>
            </div>
            <div class="img-part">
                <a><img class="img-proc" src="../../../assets/img/intel-2.jpg"/></a>
            </div>
            <div class="img-part">
                <div>
                    <h2 style="margin-top:0; font-weight: bold;">INTEL CORE I7-11700K</h2>
                    <h3 style="font-style:italic;">CHAUD BOUILLANT</h3>
                </div>
            </div>
        </div>
            <div class="txt-part">  
                <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                    <p>Le grand frère du Core i5-11400F en reprend les mêmes forces. On retrouve donc des performances en nette hausse par rapport à la génération précédente ainsi qu’un chipset plus moderne, prenant notamment en charge le PCI-Express 4.0.</p>
                    <p>Malheureusement, les soucis de consommation sont encore plus visibles sur ce modèle doté de huit cœurs. Officiellement annoncé avec un TDP de 125 W, il pulvérise cette limite pour atteindre les 290 W ! Autant dire que même un bon ventirad aura du mal et qu’il vaudra mieux prévoir une bonne solution de watercooling. À moins de le trouver nettement moins cher que le Ryzen 5800X on vous recommande de partir sur une solution AMD.</p>
                </div>
            </div>
            <div class="avantages">
                <div class="row">
                    <img style="width:auto;height:30px" src="../../../assets/img/avantages.png"/>
                    <h4 style="display:flex; align-items:center; margin-top:0; margin-left:10px; font-weight:bold;">Les avantages</h4>
                </div>
                <li>Un processeur très puissant</li>
                <li>8 cœurs et 16 threads</li>
                <li>Un concurrent direct du Ryzen 7 5800X</li>
            </div>
            <div class="acheter row">
                <div style="text-align: center;">
                    <a href="https://www.amazon.fr/Intel-i7-11700K-processeur-Smart-Cache/dp/B08TX5KL5T/ref=sr_1_1_mod_primary_new?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=INTEL+CORE+I7-11700K&qid=1634467125&qsid=257-0955297-7552569&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D&sr=8-1&sres=B08TX5KL5T%2CB091CX5SBF%2CB08X6ND3WP%2CB093Z58BTC%2CB0883P8CNM%2CB08TX5HWL2%2CB08TX3M96F%2CB08TX3VLVQ%2CB08TX48X3N%2CB0883NG13L%2CB0883PYCB4%2CB07HHLX1R8%2CB08TX4VNPK%2CB086ML4XSB%2CB08TX3MXV5%2CB07S9M32FG%2CB002CQU14A%2CB0883PYCB7%2CB07ZTBT59R%2CB07HHN6KBZ&srpt=COMPUTER_PROCESSOR&tag=droprefere070-21"><img style="width:auto;height:50px" src="../../../assets/img/Amazon-logo.png"/></a>
                    <p><a href="https://www.amazon.fr/Intel-i7-11700K-processeur-Smart-Cache/dp/B08TX5KL5T/ref=sr_1_1_mod_primary_new?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=INTEL+CORE+I7-11700K&qid=1634467125&qsid=257-0955297-7552569&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D&sr=8-1&sres=B08TX5KL5T%2CB091CX5SBF%2CB08X6ND3WP%2CB093Z58BTC%2CB0883P8CNM%2CB08TX5HWL2%2CB08TX3M96F%2CB08TX3VLVQ%2CB08TX48X3N%2CB0883NG13L%2CB0883PYCB4%2CB07HHLX1R8%2CB08TX4VNPK%2CB086ML4XSB%2CB08TX3MXV5%2CB07S9M32FG%2CB002CQU14A%2CB0883PYCB7%2CB07ZTBT59R%2CB07HHN6KBZ&srpt=COMPUTER_PROCESSOR&tag=droprefere070-21">Amazon</a></p>
                    <p style="font-weight:bold;">372€</p>
                    <p style="font-style:italic">Lien potentiellement affilié</p>
                </div>
            </div>
    </div>
</div>

<hr>

<div style="padding-top:15px; padding-bottom:15px;">
    <div class="container" style="padding-top:15px; padding-bottom:15px;">
        <div class="row">
            <div class="img-part">
                <a><img class="img-brand" src="../../../assets/img/intel-logo.png"/></a>
            </div>
            <div class="img-part">
                <a><img class="img-proc" src="../../../assets/img/intel-3.jpg"/></a>
            </div>
            <div class="img-part">
                <div>
                    <h2 style="margin-top:0; font-weight: bold;">INTEL CORE I3-10100F</h2>
                    <h3 style="font-style:italic;">POUR LES PETITS BUDGETS</h3>
                </div>
            </div>
        </div>
            <div class="txt-part">  
                <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                    <p>Les processeurs i3 de 10e génération se rapprochent des anciens i5 et profitent donc de 4 cœurs et 4 threads pour une fréquence de base de 3,6 GHz (4,2 GHz en boost). Il est fourni avec un ventirad qui suffira amplement puisque son TDP ne dépasse pas les 65 W.</p>
                    <p>Disponible pour un peu plus de 100 euros actuellement, le i3-10100F est un excellent petit processeur qui conviendra dans une machine avec un budget serré, plutôt axée sur la bureautique et le jeu dans des définitions raisonnables.</p>
                </div>
            </div>
            <div class="avantages">
                <div class="row">
                    <img style="width:auto;height:30px" src="../../../assets/img/avantages.png"/>
                    <h4 style="display:flex; align-items:center; margin-top:0; margin-left:10px; font-weight:bold;">Les avantages</h4>
                </div>
                <li>Tarif maîtrisé</li>
                <li>Performances honorables</li>
                <li>Adapté pour un usage bureautique ou jeu léger</li>
            </div>
            <div class="acheter row">
                <div style="text-align: center;">
                    <a href="https://www.rueducommerce.fr/produit/intel-core-i3-10100f-3-6ghz-lga1200-box-core-i3-10100f-3-6ghz-lga1200-6m-cache-no-graphics-boxed-cpu-109107386?articleOfferId=8616446"><img style="width:auto;height:50px" src="../../../assets/img/rdc.png"/></a>
                    <p><a href="https://www.rueducommerce.fr/produit/intel-core-i3-10100f-3-6ghz-lga1200-box-core-i3-10100f-3-6ghz-lga1200-6m-cache-no-graphics-boxed-cpu-109107386?articleOfferId=8616446">Rue Du Commerce</a></p>
                    <p style="font-weight:bold;">96€</p>
                    <p style="font-style:italic">Lien potentiellement affilié</p>
                </div>
            </div>
    </div>
</div>

<hr>

<div style="padding-top:15px; padding-bottom:15px;">
    <div class="container" style="padding-top:15px; padding-bottom:15px;">
        <div class="row">
            <div class="img-part">
                <a><img class="img-brand" src="../../../assets/img/amd-logo.png"/></a>
            </div>
            <div class="img-part">
                <a><img class="img-proc" src="../../../assets/img/amd-3.jpg"/></a>
            </div>
            <div class="img-part">
                <div>
                    <h2 style="margin-top:0; font-weight: bold;">RYZEN 3 4300GE</h2>
                    <h3 style="font-style:italic;">AVEC UN GPU POUR SE PASSER DE CARTE GRAPHIQUE</h3>
                </div>
            </div>
        </div>
            <div class="txt-part">  
                <div class="product-list" style="margin-top:5px; margin-bottom:5px;">
                    <p>Le Ryzen 3 4300GE est un APU (Accelerated Processing Unit), qui intègre donc un CPU et une puce graphique Vega 6. L’intérêt d’un tel processeur est de ne pas avoir besoin d’ajouter une carte graphique hors de prix à notre configuration. Et il s’avère justement que la puce Vega 6 intégrée est capable de petites prouesses et autorise du jeu en HD sur la plupart des titres du moment comme Fortnite par exemple (en faisant évidemment des concessions sur les options graphiques).</p>
                    <p>Bien que son tarif puisse paraître élevé pour une sélection d’entrée de gamme, sa puce graphique permet de s’affranchir d’un GPU dédié pour des usages bureautiques ou du jeu de façon raisonnable. Il est devenu d’autant plus séduisant que la pénurie de GPU pose de gros soucis aux petits budgets.</p>
                </div>
            </div>
            <div class="avantages">
                <div class="row">
                    <img style="width:auto;height:30px" src="../../../assets/img/avantages.png"/>
                    <h4 style="display:flex; align-items:center; margin-top:0; margin-left:10px; font-weight:bold;">Les avantages</h4>
                </div>
                <li>Puce graphique intégrée (et relativement performante)</li>
                <li>4 cœurs et 8 threads</li>
                <li>Adapté pour un usage bureautique ou jeu léger (sans besoin d’ajouter un GPU)</li>
            </div>
            <div class="acheter row">
                <div style="text-align: center;">
                    <a href="https://www.rueducommerce.fr/p-ryzen-3-4300ge-35-ghz--4-ghz-amd-2009664322-18383.html?articleOfferId=21692804"><img style="width:auto;height:50px" src="../../../assets/img/rdc.png"/></a>
                    <p><a href="https://www.rueducommerce.fr/p-ryzen-3-4300ge-35-ghz--4-ghz-amd-2009664322-18383.html?articleOfferId=21692804">Rue Du Commerce</a></p>
                    <p style="font-weight:bold;">207€</p>
                    <p style="font-style:italic">Lien potentiellement affilié</p>
                </div>
            </div>
    </div>
</div>



<div class="section-dark" style="padding-top:15px; padding-bottom:15px; color:white">
    <div class="container">
        <h1 style="font-weight:bold">Bien choisir son nouveau processeur</h1>
        <h3 style="font-weight:bold">Coeurs et Threads ?</h3>
        <p style="margin-top:20px">L'élément essentiel à regarder en premier quand on achète un processeur, c'est son nombre de coeurs et son nombre de threads (fils dans la langue de Molière). Un coeur est en réalité, un groupe de transistors qui peuvent exécuter des programmes tout seuls, pour faire simple.</p>
        <p style="margin-top:20px">Plus le nombre de coeurs est important, plus on peut faire des tâches en même temps. L'hyper-threading pour Intel et Simultaneous Multi-Threading (SMT) chez AMD, cette innovation permet de doubler le nombre de threads (fils), ce qui revient à augmenter la gestion multi-tâche de votre processeur PC et donc de facto sa puissance de calcul quand il s'agit d'une multitude d'actions à effectuer en même temps (jeu de gestion par exemple). Mais attention, tout les logiciels ne prennent pas en charge cette technologie, ce qui n'apportera pas d'amélioration sur ces derniers, mais heureusement ces logiciels finiront par se mettre à jours avec le temps ... bien que l'hyperthreading existe depuis déjà un paquet années.</p>
        <p style="margin-top:20px">En pratique, on trouve des CPU de 2 à 16 coeurs avec ou sans HT ou SMT (hyper-threading). Néanmoins, il existe des processeurs avec bien plus de coeurs mais dont l'usage est réservé aux professionnels et aux datacenters (jusqu'à 64 coeurs et 128 threads !) au vu de leur prix exorbitant. Certains particuliers ont toutefois besoins de cette débauche de puissance pour de l'encodage vidéo, rendu graphique et autre activité de ce type. Mais acheté un CPU de 64 coeurs, qui est fait que pour un certain usage, pour jouer au jeu vidéo, est ridicule car en plus de la perte d'argent qui va de paire avec l'acquisition de processeurs aussi imposants, les performances dans les jeux ne seront pas meilleurs, loin de là !</p>
        <p style="margin-top:20px">En effet, l'explosion du nombre de coeur n'est bénéfique que pour certains types de jeux où l'on peut facilement optimiser la multitude de tâches à faire (jeu de stratégie) mais ces optimisation sont assez rares dans le domaine des FPS (Call of Duty, Fortnite, PUBG ...). De plus, même si les jeux peuvent être optimisés pour gérer jusqu'à 16 coeurs au maximum, en avoir 64 ne servirait à rien car pour avoir autant de coeur, il faut souvent diminuer la fréquence d'horloge (voir plus bas), qui elle, influe bien plus sur les performances dans les jeux vidéo !</p>
        <p style="margin-top:20px">Nous recommandons donc de prendre un CPU en fonction des besoins suivants : (c = coeur / t = thread ou fils en français)</p>
        <li>2c/4t : pour de la bureautique petit prix</li>
        <li>4c/4t : pour de la bureautique petit prix / multimédia</li>
        <li>4c/8t : pour de la bureautique / gaming occasionnel</li>
        <li>6c/6t : pour de la bureautique haut de gamme / gaming</li>
        <li>6c/12t : pour du gaming</li>
        <li>8c/16t : pour du gaming / streaming / professionnel</li>
        <li>12c/24t et + : solution pour professionnel graphiste (plus il y a de coeurs, mieux c'est en général)</li>

        <h3 style="font-weight:bold">Fréquences et caches</h3>
        <p style="margin-top:20px">La fréquence du CPU et la taille de ses caches sont des éléments importants à prendre en compte pour le gaming. Ces composants du processeur lui assure une grande rapidité de réaction, idéal pour augmenter le framerate.</p>
        <h4 style="text-decoration: underline;">Fréquences:</h4>
        <p style="margin-top:20px">Le deuxième paramètre à prendre en compte quand on choisit son futur microprocesseur est la fréquence, c'est le nombre d'activations des transistors du CPU en 1 secondes, en simplifiant, plus elle est élevée, plus rapidement votre processeur effectuera une tâche. Elle est notée en Gigahertz (Ghz) et varie en pratique de 2Ghz à 5Ghz.</p>
        <p style="margin-top:20px">La fréquence est un bon indicateur de performances pour les jeux vidéos : un CPU avec une fréquence élevée aura de meilleures performances, la plupart du temps bien sûr car tout les jeux ne sont pas forcément bien optimisés.</p>
        <p style="margin-top:20px">Un processeur est caractérisé par sa fréquence de base encore appelé "stock", et le "turbo" / "boost". Cela veut dire qu'un processeur avec 3,4 Ghz stock et 4Ghz turbo / boost, fonctionnera à 3,4 Ghz pour les tâches minimales et montera jusqu'à 4 Ghz pour les tâches difficiles.</p>
        <p style="margin-top:20px">Il faut aussi noter que l'on peut "overclocker" (augmenter la fréquence manuellement, via sa carte mère) son CPU (cela ne marche pas avec tous les processeurs), mais nous vous déconseillons de vous y mettre si vous n'êtes pas familier avec l'informatique en général.</p>
        <p style="margin-top:20px">Pour la fréquence, c'est très simple : choisissez la plus grande en fonction de votre budget pour le nombre de coeurs choisis.</p>
        <p style="margin-top:20px">A noter qu'une forte fréquence = gros besoin en électricité = plus de chaleur dégagée !</p>

        <h4 style="text-decoration: underline;">Caches processeur</h4>
        <p style="margin-top:20px">Les caches (L1, L2 et L3) sont des composants situés dans le processeur plus ou moins proches de ce dernier (L1 est le plus petit, le plus rapide et le plus proche).</p>
        <p style="margin-top:20px">C'est de "la mémoire vive ultra-rapide", comme de la RAM directement intégrée dans le microprocesseur pour faire simple. Elle influe beaucoup sur les performances, mais choisir son processeur en fonction de la taille des caches est une erreur car ils ont presque tous la même taille en fonction de la gamme et un gros cache ne compensera jamais une faible fréquence ou un petit nombre de coeurs, mais au moins vous savez à quoi cela correspond et si vous hésitez entre deux CPU de même gamme, prenez celui avec le plus de caches.</p>
        <p style="margin-top:20px">On peut noter que ces dernières générations de processeurs ont montré que la difficulté d'Intel et d'AMD à améliorer leur architecture CPU et à diminuer leur finesse de gravure, les ont poussé à augmenter la taille des différents niveaux de caches pour gagner des performances facilement, sans avoir à tout réinventer. Ces augmentation sont corrélées à l'augmentation du nombre de coeurs dans les processeurs PC (depuis AMD Ryzen) car chaque coeur viens avec son lot de cache.</p>
        <p style="margin-top:20px">De plus, de nouvelles technologies pour drastiquement augmenter la taille et les performances du cache sont à l'étude des 2 côtés car Intel et AMD comprennent que cela va devenir le nerf de la guerre car il est de plus en plus difficile de réduire la finesse de gravure et donc ils doivent redoubler d'ingéniosité pour pouvoir gagner en performance. Comme nouveauté on peut voir que AMD prépare son 3D V-Cache, technique qui consiste à empiler le cache par dessus le processeur. Cela permettra selon eux de tripler le cache CPU, ce qui se traduira par une hausse importante des performantes.</p>
    </div>
</div>





   
</div>
