<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/hardware-landing.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Digital Ring Communauté (DR)</h1>
            <h3>Un groupe de passionnés d'hardware regroupant plus de 6.000 utilisateurs actifs sur notre Discord</h3>
            <br />
            <a href="https://discord.com/invite/3A9t2YYNg3" target="_blank" class="btn btn-outline-neutral btn-round"><img class="logo-img" src="./assets/img/discord-logo.png"/>Rejoins l'aventure</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Notre communauté</h2>
                <h5 class="description">La Digital Ring a été créée en 2019 par deux passionnés d'hardware, nous regroupons aujourd'hui près de 6.000 personnes sur notre réseau communautaire Discord. Tu souhaites rejoindre l'aventure ? Nos thématiques sont les suivantes:</h5>
                <br>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-laptop"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Set up</h4>
                        <p class="description">Envie de changer de configuration ? Nous t'aidons dans tes recherches et t'apportons tous nos conseils d'expert.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-controller-modern"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Jeux vidéos</h4>
                        <p>Tu recherches des joueurs avec qui jouer ou échanger ? Partage ta passion et ton expérience de jeu avec nous.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-basket"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Tests nouveautés</h4>
                        <p>Nous faisons des tests complets sur les nouveaux produits du marché et te donnons les sites sur lesquels te les procurer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bold"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Crypto monnaie</h4>
                        <p>Besoin de conseil sur la création d'un RIG ou même des questions générales sur les crypto monnaies ? Nous répondrons volontier à toutes tes questions.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Nos partenaires</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="https://www.youtube.com/c/Jigfio" target="_blank"><img src="https://yt3.ggpht.com/ytc/AKedOLTw_goU_DK5FILNRkR-Kg8E-uneSkZ1Jsm9oHgRrg=s900-c-k-c0x00ffffff-no-rj" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="https://www.youtube.com/c/Jigfio" target="_blank">
                            <div class="author">
                                <h4 class="card-title">Jigfio</h4>
                                <h6 class="card-category">50.000 abonnés</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        De l'overclocking aux benchmarks et tests de produits, Jigfio est connu pour sa rigueur et son expertise des produits hardwares. Membre de notre communauté depuis Juillet 2020 il a beaucoup apporté à la DR communauté.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-link btn-just-icon btn-neutral" href="https://www.youtube.com/c/Jigfio" target="_blank"><img style="width: 1.5em;" src="./assets/img/youtube-icon-white.jpg" alt="..."></a>
                        <a href="https://twitter.com/Jigfio" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>    
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="https://www.youtube.com/c/MonsieurTK" target="_blank"><img src="https://yt3.ggpht.com/ytc/AKedOLQRqyYzMzFCVq4QYdgY_ukQcQtB7FjTodRs-R6d=s900-c-k-c0x00ffffff-no-rj" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="https://www.youtube.com/c/MonsieurTK" target="_blank">
                            <div class="author">
                                <h4 class="card-title">Monsieur-TK</h4>
                                <h6 class="card-category">45.000 abonnés</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Expert en minage et crypto monnaie, Monsieur-TK est un partenaire fidèle de notre communauté à travers ses différentes vidéos et interventions sur Twitter.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-link btn-just-icon btn-neutral" href="https://www.youtube.com/c/MonsieurTK" target="_blank"><img style="width: 1.5em;" src="./assets/img/youtube-icon-white.jpg" alt="..."></a>
                        <a href="https://twitter.com/MiningTk" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>    
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="https://www.youtube.com/channel/UCYMSx4di8FBoExCtIIIpgmA" target="_blank"><img src="https://yt3.ggpht.com/ytc/AKedOLRntQkEaJgiXe56kC32oImpzGksgxJrDjZ4ArciLg=s900-c-k-c0x00ffffff-no-rj" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="https://www.youtube.com/channel/UCYMSx4di8FBoExCtIIIpgmA" target="_blank">
                            <div class="author">
                                <h4 class="card-title">LFDM</h4>
                                <h6 class="card-category">30.000 abonnés</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        De la même façon que Monsieur-TK, LFDM est une chaîne communautaire autour du monde de la crypto monnaie. LFDM a rejoint et fait confiance à notre communauté dès ses débuts.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-link btn-just-icon btn-neutral" href="https://www.youtube.com/c/MonsieurTK" target="_blank"><img style="width: 1.5em;" src="./assets/img/youtube-icon-white.jpg" alt="..."></a>
                        <a href="https://twitter.com/LFDMineur" target="_blank" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Une suggestion ou une question ?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nom</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Nom" (focus)="focus=true" (blur)="focus=false" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true" (blur)="focus1=false" >
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="N'hésite pas à nous écrire, nous serons très heureux de te répondre..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Envoyer le message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
