<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="credits ml-auto">
                <span class="copyright">
                    Copyright © {{test | date: 'yyyy'}} DR communauté, All rights reserved
                </span>
            </div>
        </div>
        <p style="font-size:0.7em;">En tant que Partenaire Amazon, je réalise un bénéfice sur les achats remplissant les conditions requises.</p>
        <p style="font-size:0.7em;">Als Amazon-Partner verdiene ich an qualifizierten Verkäufen</p>
    </div>
</footer>
